# Copia este archivo como  .env  y pega tus claves de Supabase.
# Las encuentras en: Supabase > tu proyecto > Project Settings > API

VITE_SUPABASE_URL=https://nmxkuzzmuqlljwouxfrj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_nkxkFpATIXsU0LoTVhVhoQ_AGJak-qt
